body{
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form{
    background-color: #fff;
    width: 65%;
    height: 400px;
    display: grid;
    grid-template-columns:40% 60%;
}

.form__div{
    padding: 24px;
}

.form__div--ladoIzquierdo{
    background-color: #003366;
    text-align: center;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 15px 0px 0px 15px;
}

.form__div--ladoIzquierdo > .form__h1{
    font-size: 2em;
}

.form__div--ladoIzquierdo > .form__icon{
    font-size: 5em;
    width: 120px;
    border: 2px solid #fff;
    padding: 20px;
    border-radius: 50%;
}

.form__div--ladoIzquierdo > .form__p, .form__div--ladoDerecho > .form__p{
    font-size: 1.5em;
}

.form__div--ladoDerecho{
    border: 1px solid #003366;
    color: #424242;
    border-radius: 0px 15px 15px 0px;
}

.form__div--ladoDerecho > .form__p{
    font-weight: bold;
    text-align: center;
    padding: 1em 0 2em;
}

.form__field{ 
    width: 90%; 
    margin: 1em auto;
}

.form__field label{
	border: 2px solid #424242;
	display: inline-block;
	padding: 10px;
	position: relative;
    margin-bottom: 1em;
    cursor: text;
    border-radius: 10px;
    width: 100%;
}

.form__field input, .form__field span{ 
	border: none; 
	box-sizing: border-box;
	outline: none;
	resize: none; 
    font-size: 16px;
    width: 100%;
    line-height: 16px;
}

.form__field span{
	color: #424242;
	display: inline-block;
	left: 0px;
	padding: 5px;
	position: absolute;
	transition: 0.25s;
	top: 8px;
	width: auto;
}

.form__field span.reubicar{
	color: #424242;
	font-size: 14px;
	top: -22px;
}

.form__button{
    background-color: #003366;
    color: #fff;
    width: 250px;
    height: 35px;
    margin: 0 auto;
    border-radius: 10px;
    margin-top: 32px;
}

.form__button:hover{
    background-color: #336699;
}