.contenedor-requisito{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contenedor-requisito > a{
    display: inline-block;
    font-weight: bold;
}

.contenedor-requisito> a.buttonArchive{
    display: inline-block;
    background-color: rgb(58, 58, 156);
    padding: 5px;
    color: #fff;
    border-radius: 5px;
}

.contenedor-requisito:hover{
    background-color: #d4d4d4;
}