*{
    user-select: none;
}

body{
    display: grid;
    grid-template-columns: 290px 1fr;
    overflow: hidden;
}
/*    ***********************************
 *    **    ESTILOS PARA EL SECTION    **
 *    ***********************************
 */
.section{
    color: #202020;
    overflow-x: hidden;
    overflow-y: scroll;
    display: grid;
    grid-template-rows: 105px 1fr;
}

.section__header{
    position: sticky;
    top: 0;
    left: 0;
    background-color: #f0f0f0;
    max-width: calc(100vw - 307px);
}

.section__h2{
    font-size: 1.3em;
    padding: 0.5em 1em;
    text-align: center;
}

.section__h3{
    padding: 0.5em;
    text-align: center;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    font-weight: bold;
    height: 60px;
}
/*    **********************************************
 *    **    FIN DE LOS ESTILOS PARA EL SECTION    **
 *    **********************************************
 */
/*    **************************************
 *    **    ESTILOS PARA PARA LA TABLA    **
 *    **************************************
 */
.section__table-container{
    padding: 13px;
}

.section__table{
    background-color: #fff;
    border: 1px solid #202020;
    border-collapse: collapse;
    text-align: center;
    color: #202020;
    min-width: 100%;
}

.section__table-header{
    background-color: #003366;
}

.section__table-cell, .section__table-header-cell{
    padding: 10px 5px;
    border: 1px solid;
    text-align: center;
    vertical-align: middle;
    width: 220px;
}

.section__table-header-cell{
    color: #fff;
}

.section__table-row:nth-child(even){
    background-color: #e8e8e8;
}

.section__table-row:hover > .section__table-cell{
    background-color: #7f9ebd;
    border-color: #7f9ebd;
    color: #fff;
}

.section__table-button{
    width: 100%;
}

.section__table-button:hover{
    text-decoration: underline;
    font-weight: bold;
    transition: all 0.2s ease-in;
}

.section__add-client{
    position: absolute;
    display: inline-block;
    left: 700px;
    top: 52px;
    color: #fff;
    padding: 10px 16px;
    background-color: #003366;
    border-radius: 8px;
}

.section__add-client:hover{
    background-color: #004386;
}

.btnRegresar{
    position: absolute;
    top: 6px;
    left: 298px;
    background-color: #003366;
    padding: 3px 10px;
    color: #fff;
    border-radius: 5px;
}

.btnRegresar > i{
    margin-right: 3px;
}

.btnRegresar:hover{
    background-color: #004386;
}
/*    ********************************************
 *    **    FIN DE LOS ESTILOS PARA LA TABLA    **
 *    ********************************************
 */
/*    *****************************
 *    **    ESTILOS DEL MODAL    **
 *    *****************************
 */
.modal-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(2px);
    background-color: #b1b1b127;
    display: none;
    justify-content: center;
    align-items: center;
}

.modal-container--show{
    display: flex;
}

.modal-container__modal{
    color: #202020;
    width: max-content;
    min-width: 50%;
    padding: 15px 32px 8px;
    height: 80%;
    background-color: #fafafa;
    position: relative;
    border-radius: 15px;
    box-shadow: 0 0 10px #202020;
}

.modal-container__icon{
    position: absolute;
    font-size: 2em;
    color: #003366;
    top: -16px;
    right: -16px;
    background-color: #fff;
    border-radius: 50%;
    transition: all 0.2s;
}

.modal-container__icon:hover{
    color: #af0000;
    transition: all 0.2s;
}

.modal-container__ul{
    height: 90%;
    align-items: center;
    display: grid;
    gap: 10px 20px;
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: repeat(2, 1fr);
}

.modal-container__ul >li > b{
    font-size: 1.1em;
    font-weight: bold;
}

.modal-container__button-container{
    display: flex;
    justify-content: space-evenly;
    height: 10%;
    align-items: center;
}

.modal-container__button{
    display: inline;
    background-color: #003366;
    border-radius: 10px;
    width: 250px;
    height: 40px;
    font-weight: bold;
    color: #fff;
}

.modal-container__button:hover{
    background-color: #004386;
}


.modal-container__button > i{
    margin-right: 5px;
}

.modal-container__button--delete{
    background-color: #af0000;
}

.modal-container__button--delete:hover{
    background-color: #e20000;
}

/*    *****************************
 *    **    ESTILOS DEL MODAL    **
 *    *****************************
 */
/*    ********************************
 *    **    ESTILOS DE DATATABLE    **
 *    ********************************
 */
.dataTables_wrapper .dataTables_filter {
    float:left;
    text-align: left;
    margin: 13px 0;
    position: absolute;
    left: 303px;
    top: 43px;
    color: #202020;
}

.dataTables_wrapper .dataTables_filter input {
    border: 1px solid #aaa;
    border-radius: 3px;
    padding: 5px;
    background-color: transparent;
    margin-left: 10px;
    display: inline-block;
    outline: none;
}

/* Estilos para el div de la paginacion de la tabla */
.dataTables_wrapper .dataTables_paginate {
    float: right;
    text-align: right;
    padding: .5em 0;
    position: absolute;
    right: 13px;
    top: 46px;
    color: #202020
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    box-sizing: border-box;
    display: inline-block;
    min-width: 1.5em;
    padding: .5em 1em;
    margin-left: 2px;
    text-align: center;
    text-decoration: none !important;
    cursor: pointer;
    color: inherit !important;
    border: 1px solid transparent;
    border-radius: 2px;
    background: transparent
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: inherit !important;
    border: 1px solid rgba(0, 0, 0, 0.3);
    background-color: rgba(230, 230, 230, 0.1);
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
    cursor: default;
    color: #666 !important;
    border: 1px solid transparent;
    background: transparent;
    box-shadow: none
}

/* Hover de los botones para la paginacion*/
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    color: white !important;
    background-color: #004f71;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:active {
    outline: none;
    background-color: #2b2b2b;
    box-shadow: inset 0 0 3px #111
}

.dataTables_wrapper .dataTables_info {
    display: none;
}

.dataTables_wrapper .dataTables_length {
    display: none;
}

@media screen and (max-width: 767px) {

    .dataTables_wrapper .dataTables_info,
    .dataTables_wrapper .dataTables_paginate {
        float: none;
        text-align: center
    }

    .dataTables_wrapper .dataTables_paginate {
        margin-top: .5em
    }
}

@media screen and (max-width: 640px) {

    .dataTables_wrapper .dataTables_length,
    .dataTables_wrapper .dataTables_filter {
        float: none;
        text-align: center
    }

    .dataTables_wrapper .dataTables_filter {
        margin-top: .5em
    }
}
/*    *******************************************
 *    **    FIN DE LOS ESTILOS DE DATATABLE    **
 *    *******************************************
 */