*{
    user-select: none;
}

body{
    display: grid;
    grid-template-columns: 290px 1fr;
}
/*    ***********************************
 *    **    ESTILOS PARA EL SECTION    **
 *    ***********************************
 */
.section{
    color: #202020;
}

.section__header{
    background-color: #f0f0f0;
}

.section__h2{
    font-size: 1.3em;
    padding: 0.5em 1em;
    text-align: center;
}

.section__h3{
    padding: 0.5em;
    text-align: center;
    border: 1px solid #ccc;
    font-weight: bold;
}
/*    **********************************************
 *    **    FIN DE LOS ESTILOS PARA EL SECTION    **
 *    **********************************************
 */
/*    ***********************************
 *    **    ESTILOS PARA EL FORMULARIO    **
 *    ***********************************
*/
.section__form{
    padding: 16px 8px;
    display: grid;
    grid-template-rows: 35px 60px 35px 60px 35px 60px 60px 35px 60px;
    grid-template-columns: 1fr 1fr 0.5fr 0.5fr;
    gap: 10px;
    align-items: center;
}

.form__p{
    font-size: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    width: 100%;
    grid-column: 1/5;
    color: #424242;
}

.form__p > span{
    height: 1px;
    display: block;
    width: 38%;
    margin: 10px;
    background-color: #6d6d6d;
}

.form__field{ 
    width: 100%;
    display: block;
    position: relative;
}

.form__field label{
	border: 2px solid #6d6d6d;
	display: inline-block;
	padding: 10px;
	position: relative;
    cursor: text;
    border-radius: 10px;
    width: 100%;
}

.form__field input, .form__field span{ 
	border: none; 
	box-sizing: border-box;
	outline: none;
	resize: none; 
    font-size: 16px;
    width: 100%;
    line-height: 16px;
}

.form__field span{
	color: #6d6d6d;
	display: inline-block;
	left: 8px;
	padding: 5px 2px;
	position: absolute;
	transition: 0.25s;
	top: 10px;
	width: auto;
}

.form__field span.reubicar{
	font-size: 14px;
	top: -14px;
    background-color: #fff;
}

.form__icon{
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 1.5em;
}

.form__icon--valid{
    color: #26c000;
}

.form__icon--invalid{
    color: #ff0000;
}

.form__button{
    background-color: #003366;
    color: #fff;
    height: 45px;
    border-radius: 10px;
    grid-column: 3/5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form__button:hover, .form__button:focus{
    background-color: #004386;;
}

.form__field:nth-child(4){
    grid-column: 3/5;
}

.form__field:nth-child(8){
    grid-column: 3/5;
}

.form__field:nth-child(10){
    grid-column: 1/3;
}

.form__field:nth-child(13){
    grid-column: 1/4;
}

.form__field:nth-child(16){
    grid-column: 1/3;
}
/*    *************************************************
 *    **    FIN DE LOS ESTILOS PARA EL FORMULARIO    **
 *    *************************************************
 */