.header{
    background-color: #003366;
    height: 100vh;
    width: 300px;
    min-width: 70px;
    font-weight: bold;
    position: relative;
}

.header__h1{
    font-size: 1.5em;
    padding: 1em;
    text-align: center;
}

.header__navbar{
    padding: 1.5em 0;
}

.header__link{
    padding: 1em 1.5em;
    margin-bottom: 10px;
    cursor: pointer;
}

.header__link > i{
    padding-right: 15px;
    font-size: 1.2em;
}

.header__link:hover{
    background-color: #004386;
}

.header__link--close-sesion{
    margin: 0;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: rgb(175, 14, 14);
}

.header__link--close-sesion:hover{
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: rgb(204, 13, 13);
}

.my-documents-container, .new-document-container{
    padding: 2em 2em 0;
    width: 100%;
}

.new-document-container__filter{
    position: sticky;
    top: 4.5em;
    padding-top: 1em;
    left: 0;
    background-color: #fff;
    border-bottom: 1px solid black;
}

.new-document-container__filter h2{
    user-select: none;
}

.my-documents-container__filter-list, .new-document-container__filter-list{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding: 1em;
    cursor: pointer;
    padding-bottom: 3em;
    color: #000;
    font-size: 1.3em;
    user-select: none;
}

.my-documents-container__filter-list-item, .new-document-container__filter-list-item{
    text-decoration: none;
    padding: 0.5em 3em;
    background-color: #dfdfdf;
    border-radius: 5px;
}

.my-documents-container__filter-list-item:hover, .new-document-container__filter-list-item:hover{
    background-color: #c4c4c4;
}

.my-documents-container__filter-list-item a{
    text-decoration: none;
    color: #000;
    font-size: 1.3em;
}

.tramites-container{
    display: none;
}

.tramites-container__item{
    border-top: 1px solid #7c7c7c;
    padding: 2.5em 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    user-select: text;
}

.tramites-container__item-form{
    background-color: #ffffff;
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    padding: 1.5em 2em;
    margin: 10px 0;
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}

.tramites-container__item-form a{
    text-decoration: none;
    user-select: none;
}

.tramites-container__item-form h3{
    font-size: 1.3em;
    font-weight: 100;
    color: #444444;
    user-select: none;
}

.tramites-container__item-form button{
    padding: 1em 1em;
    width: 9em;
    font-size: 1.2em;
    color: #444444;
    background-color: #dfdfdf;
    border: 1px solid #dfdfdf;
    border-radius: 5px;
}

.tramites-container__item-form a{
    padding: 1em 1em;
    width: 9em;
    font-size: 1.2em;
    color: #444444;
    background-color: #dfdfdf;
    border: 1px solid #dfdfdf;
    border-radius: 5px;
    text-align: center;
}

.tramites-container__item-form button i{
    padding-right: 5px;
}

.tramites-container__item-form button:hover{
    background-color: #c2c2c2;
}

.show-container{
    display: block;
}

.active{
    background-color: #004f71;
    color: #fff
}

.active a{
    color: #cecece;
}
.active:hover{
    background-color: #004f71;
}

.hide-menu-container{
    display: none !important;
}