body{
    display: grid;
    grid-template-columns: 290px 1fr;
}

/*    **********************************
 *    **    ESTILOS PARA EL HEADER    **
 *    **********************************
 */
.header{
    background-color: #003366;
    height: 100vh;
    width: 290px;
    min-width: 70px;
    font-weight: bold;
    position: sticky;
    top: 0;
    left: 0;
}

.header__h1{
    font-size: 1.5em;
    padding: 1em;
    text-align: center;
}

.header__navbar{
    padding: 1.5em 0;
}

.header__link{
    padding: 1em 1.5em;
    margin-bottom: 10px;
    cursor: pointer;
}

.header__link > i{
    padding-right: 15px;
    font-size: 1.2em;
}

.header__link:hover{
    background-color: #004386;
}

.header__link--close-sesion{
    margin: 0;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: rgb(175, 14, 14);
}

.header__link--close-sesion:hover{
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: rgb(204, 13, 13);
}

.header__link--active{
    background-color: #004386;
}
/*    *********************************************
 *    **    FIN DE LOS ESTILOS PARA EL HEADER    **
 *    *********************************************
 */
/*    ************************************
 *    **    ESTILOS PARA LOS SECTION    **
 *    ************************************
 */
.section{
    background-color: #fff;
    color: #202020;
}

.section__nav{
    background-color: #f0f0f0;
    position: sticky;
    top: 0;
    right: 0;
}

.section__h2{
    font-size: 1.3em;
    padding: 0.5em 1em;
    text-align: center;
}

.section__ul{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.section__li{
    padding: 0.5em;
    text-align: center;
    cursor: pointer;
    border: 1px solid #ccc;
    color: #646464;
}

.section__li:hover{
    background-color: #e0e0e0;
}

.section__li--active{
    color: #202020;
    background-color: #e0e0e0;
}
/*    ***********************************************
 *    **    FIN DE LOS ESTILOS PARA LOS SECTION    **
 *    ***********************************************
 */
/*    *************************************
 *    **    ESTILOS PARA NEW-DOCUMENT    **
 *    *************************************
 */
.new-document__wrapper{
    width: 100%;
    padding: 10px;
    gap: 10px;
    display: grid;
    grid-auto-rows: 250px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.new-document__item{
    background-color: #f5f5f5;
    width: 250px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 0 10px;
    justify-content: space-between;
    box-shadow: 0 0 2px #202020;
}

.new-document__item > i{
    font-size: 5em;
    color: #3a3a3a;
}

.new-document__item > h3{
    padding: 5px 5px;
    text-align: center;
}

.new-document__item > a{
    background-color: #003366;
    padding: 0.5em 1.5em;
    color: #f0f0f0;
    border-radius: 10px;
}

.new-document__item:hover{
    box-shadow: 0 0 5px #202020;
}

.new-document__item > a:hover{
    background-color: #004386;
}

.new-document__wrapper--hidden{
    display: none;
}
/*    ************************************************
 *    **    FIN DE LOS ESTILOS PARA NEW-DOCUMENT    **
 *    ************************************************
 */