body{
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}

.title-container{
    width: 40%;
    font-size: 2em;
    text-align: center;
    padding: 1em 0;
    color: #2b2b2b;
    font-weight: bolder;
    position: absolute;
    top: 0;
    min-width: 360px;
}

.title-container__h1 > i{
    padding: 8px;
    border: 2px solid #202020;
    border-radius: 50%;
    margin-right: 10px;
}

.form{
    background-color: #fff;
    width: 40%;
    height: 400px;
    color: #202020;
    padding: 24px;
    box-shadow: 0px 0px 5px #202020;
    position: relative;
    min-width: 360px;
}

.form__h2{
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 5px 15px;
    margin-left: 5%;
}

.form__p{
    font-size: 1.3em;
    margin-left: 5%;
    padding: 0 5px 1.3em;
}

.form__field{ 
    width: 90%; 
    margin: 1.3em auto;
    display: block;
}

.form__field label{
	border: 2px solid #424242;
	display: inline-block;
	padding: 10px;
	position: relative;
    margin-bottom: 1em;
    cursor: text;
    border-radius: 10px;
    width: 100%;
}

.form__field input, .form__field span{ 
	border: none; 
	box-sizing: border-box;
	outline: none;
	resize: none; 
    font-size: 16px;
    width: 100%;
    line-height: 16px;
}

.form__field span{
	color: #424242;
	display: inline-block;
	left: 8px;
	padding: 5px 2px;
	position: absolute;
	transition: 0.25s;
	top: 8px;
	width: auto;
}

.form__field span.reubicar{
	color: #424242;
	font-size: 14px;
	top: -14px;
    background-color: #fff;
}

.form__button{
    background-color: #003366;
    color: #fff;
    width: 250px;
    height: 35px;
    border-radius: 10px;
    position: absolute;
    bottom: 24px;
    left: calc(50% - 125px);
}

.form__button:hover{
    background-color: #336699;
}